body {
  text-align: center;
  margin: auto;
  background-color: #B2B2B2;
  font-size: 16px;
}

.content {
  text-align: center;
  margin: auto;
  background-color: #FFFFEB;
  border-style: solid;
  border-width: 4px;
  border-color: maroon;
  border-radius: 10px;
  width: 50%;
  padding: 15px;
}
h1 {
  font-size: 50px;
  line-height: 0%;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
h2 {
  color: black;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: maroon;
  border-radius: 5px;
}

.LCD {
  margin: auto;
  background-color: #80FFFF;
  border-style: solid;
  border-width: 4px;
  border-color: maroon;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
}

.buttons {
  padding-top: 20px;
}

button[class="increaseBy"]  {
background:url('img/smallbutton.jpg');
background-size: 40px 40px;
background-repeat: no-repeat;
width:40px;
height:40px;
border: 0px;
position: relative;
font-size: 20px;
color: maroon;
}
button[class="decreaseBy"]  {
background:url('img/smallbutton.jpg');
background-size: 40px 40px;
background-repeat: no-repeat;
width:40px;
height:40px;
border: 0px;
position: relative;
font-size: 20px;
color: maroon;
}
button[class="reset"]  {
background:url('img/smallbutton.jpg');
background-size: 80px 40px;
background-repeat: no-repeat;
width:80px;
height:40px;
border: 0px;
position: relative;
font-size: 20px;
color: maroon;
}
button[class="set"]  {
background:url('img/smallbutton.jpg');
background-size: 45px 40px;
background-repeat: no-repeat;
width:45px;
height:40px;
border: 0px;
position: relative;
font-size: 20px;
color: maroon;
}
